<%- include("partials/header.ejs") %>
  <div class="container">
    <div class="jumbotron" style="background-color: transparent;">
      <div class="row">
          <div class="col-lg-6">
              <img src="images/contact_me.svg" alt="stack photo" class="img" style="width: 500px; height: 500px;">
          </div>
          <div class="col-lg-6">
              <div class="container" style="border-bottom:1px solid black">
                <h2>Utsav Deep</h2>
              </div>
                <hr>
              <ul class="container details">
                <li><p><span><i class="fas fa-phone-square-alt"></i></span> +91 88678 34645</p></li>
                <li><p><span><i class="fas fa-envelope"></i></span> utsavdeep01@gmail.com</p></li>
                <li><p><span><i class="fas fa-map-marker-alt"></i></span> Bengaluru, India</p></li>
                <li><p><span><i class="fas fa-globe-europe"></i></span><a href="http://pinnheads.github.io" style="text-decoration: none; color: black;"> pinnheads.github.io</p></a>
              </ul>
          </div>
      </div>
    </div>
<%- include("partials/footer.ejs") %>