html{
  text-align: center;
  height:100%;
}

body{
  background: rgb(0, 128, 128);
  background: -moz-linear-gradient(0deg, rgba(0, 128, 128, 1) 9%, rgba(228, 233, 253, 1) 71%);
  background: -webkit-linear-gradient(0deg, rgba(0, 128, 128, 1) 9%, rgba(228, 233, 253, 1) 71%);
  background: linear-gradient(0deg, rgba(0, 128, 128, 1) 9%, rgba(228, 233, 253, 1) 71%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height:100%;
  padding:0;
  margin:0;
  position:relative;
}
body::after {
  content: '';
  display: block;
  height: 100px;
}


.brand-logo{
  width: 200px;
}
/* List Css */
.card{
  margin: 20px 0;
}

.card-header{
  background-color: #3f4242;
  font-family: 'Manrope',
  sans-serif;
  text-align: center;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 3px;
}
a{
  text-decoration: none;
}
.list-view-button{
  float: right;
}
.delete-list-button{
  float: left;
}
.link-img{
  height: 25px;
  width: 25px;
}
.link-icon{
  width: 100%;
  float: left;
}

.link-text{
  width: 90%;
  font-family: 'Manrope',
  sans-serif;
  float: left;
  margin-left: 10px;
  /* height: 100%; */
}
.link-text p{
  margin: 0;
  margin-top: 2px;
}
.delete-icon{
  margin-top: 0;
}
.input-group-text{
  background-color: #fff;
}

.link-image{
  float: left;
  width: 25px;
}

.list-group-item{
  padding: 16px auto;
}
/* New List Css */
.new-list{
  width: 100%;
}
/* Footer */
#footer-section {
  background-color: #5d5d5d;
  position:absolute;
  bottom:0;
  width:100%;
  color: black;
}

.footer {
  text-align: center;
  padding: 20px;
}
a i {
  margin: 5%;
  text-decoration: none;
  color: black;
}
.social-icon {
  margin: 20px 10px;
}
/*  */
.home-list{
  margin: 80px auto;
  font-family: 'Manrope',
  sans-serif;
}